#AlbumArtDiv {
    width: 1450px;
    height: 600px;    
    border-right: 3px solid white;
    float: left;  
    overflow: hidden;  
}
#ConcertDiv {
    width: 380px;
    height: 600px; 
    float: left; 
}
#ControlsDiv{   
    display:inline-block;
    width: 700px;
    height: 300px; 
    border-top: 1px solid white;
}

#SubTitle{
    all: inherit;
    padding-left: 2px;
    font-weight: bold;
    height: auto;
}
body{
    overflow: hidden; 
}
.ControlImage {
    vertical-align: top;
    display: inline;
}



/*
background-color: rgba(0, 0, 255, 0.5);
background-color: rgba(255, 0, 0, 0.5);
background-color: rgba(0, 128, 0, 0.5);

*/