#AlbumArtDiv {
    width: 1450px;
    height: 610px;    
    border-right: 3px solid white;
    float: left;  
    overflow: scroll;  
    overflow-x: hidden;
}

#ConcertDiv {
    width: 380px;
    height: 600px; 
    float: left; 
}
#ControlsDiv{   
    display:inline-block;
    width: 700px;
    height: 300px; 
    border-top: 1px solid white;
}

#SubTitle{
    all: inherit;
    padding-left: 2px;
    font-weight: bold;
    height: auto;
}
body{
    overflow: hidden; 
}
.ControlImage {
    vertical-align: top;
    display: inline;
}
.EventFloatStart{
    float: inline-start;
    vertical-align: top;
}
.EventTitle{
    padding: 2px;
    margin: auto;
    font-size: 16px;
    word-wrap: break-word;
}
.EventDate{
    padding: 2px;
    margin: auto;
    font-style: italic;
    font-size: 32px;
    word-wrap: break-word;
    text-align: center;

}
.EventWrapper{
    display: inline-block;
}