* {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
body {
    background-color: #2C2F33;
    font-family: "klavika_bdbold";
    color: antiquewhite;
    font-size: 40px;
    padding-bottom: 5px;
}
input[type=text] {
    padding:5px; 
    border:none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background:#2C2F33;
    font-family: "klavika_bdbold";
    color: antiquewhite;
}
li, ul{
    display: block;
    list-style-type: disc;
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 1px;
    padding-left: 20px;
    font-size: 24px;
}
#subtitle {
    padding-top: 5px;
    font-size: 32px;
    margin: 0;
}
#heading {
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'klavika_bdbold';
    src: url('./Fonts/ufonts.com_klavika-bold-opentype-webfont.woff2') format('woff2'),
         url('./Fonts/ufonts.com_klavika-bold-opentype-webfont.woff') format('woff'),
         url('./Fonts/ufonts.com_klavika-bold-opentype-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    color: antiquewhite;
}