#popupform {
    width: 100%;
    height: 100%;
    opacity: .95;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    background-color: #313131;
    overflow: auto
  }
  #HistoryWrapper {
    display: inline-block;
    position: relative;
    margin: 1px;
    margin-right: 20px;

  }
  #ResultHeading {
      cursor: pointer;
  }
