#popupform {
    width: 100%;
    height: 100%;
    opacity: .95;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    background-color: #313131;
    overflow: auto
  }
  #StockDataBlock {
    display: inline-block;
    position: relative;
    margin: 1px;
    margin-right: 20px;
    width: 223px;

  }
  #ResultHeading {
      cursor: pointer;
      font-weight: bolder;
  }
  .StockName {
font-weight: bolder;
margin-bottom: 0px;
margin-top: 0px;
}
#Pbutton {
  cursor: pointer;
  font-weight: bolder;
  font-style: italic;
  display: block;
  margin: 0px;
  font-size: 30px;
  

}

#Exit_Button{
  cursor: pointer;
  font-weight: bolder;
  font-style: italic;
  float: inline-end;
  margin: 0px;
  font-size: 60px;
  padding-bottom: 30px;

}
#InputBox{
  height: 25px;
  background-color: transparent;
  margin-bottom: 20px;
  padding-bottom: 10px;

  border: none;
  border-bottom-style: solid;
  border-bottom-width: 5px;

  color:antiquewhite;
  font-size: 30px;
  font-weight: lighter;
  font-style: italic;
}
#InputWrapper{
  display:flex;
}
