#popupform {
width: 100%;
height: 100%;
opacity: .95;
top: 0;
left: 0;
display: none;
position: fixed;
background-color: #313131;
overflow: auto
}
#Exit_Button{
cursor: pointer;
font-weight: bolder;
font-style: italic;
float: inline-end;
margin: 0px;
font-size: 60px;
padding-bottom: 30px;

}
#ContentWrapper{
  position: relative;
  height: 1000px;
}
.NodeP {
cursor: pointer;
margin: 0%;
display: inline;
}

.column {
  float: left;
  width: 400px;
  padding-right: 50px;
  padding-left: 10px;

  margin-top: 50px;


  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: none;

  touch-action: manipulation;
}
.FileUpload{
color:antiquewhite;
}
.RecipeImage{
  height: 700px;
  width: 400px;
}