/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding-right: 20px;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

body {
  background-color: #2C2F33;
  color: antiquewhite;
  font-size: 22px;
  padding-bottom: 5px;
  font-family: 'Helvetica';
  font-weight: normal;
  font-style: normal;
  color: antiquewhite;
  word-wrap: normal;

}

input[type=text] {
  padding: 1px;
  border-color: antiquewhite;
  border-width: 3px;
  background: #2C2F33;
  color: antiquewhite;
}

li,
ul {
  display: block;
  list-style-type: disc;
  padding: 1px;
  font-size: 22px;

}

#subtitle {
  padding-top: 5px;
  font-size: 32px;
  margin: 0;
}

#h1 {
  padding: 0;
  margin: 0;
}

#SearchColumn {
  width: auto;
}

.itemconfiguration {
  height: 650px;
  width: 215px;
  /* background-color:#CCC; */
  overflow-y: auto;
  float: left;
  position: relative;
  margin-left: -10px;
}

.left_contentlist {
  width: 215px;
  float: left;
  padding: 0 0 0 0px;
  position: relative;
  float: left;

}

#IngredientsNotes, #MethodNotes {
  word-wrap: break-word;
  white-space: pre;
}

#NotesColumn {
  width: 40%;
}

#popupform {
  width: 100%;
  height: 100%;
  opacity: .95;
  top: 0;
  left: 0;
  display: none;
  position: fixed;
  background-color: #313131;
  overflow: auto
}