  #Weather{
    height: auto;
    width: auto;
}

input[type=text] {
      padding: 1px;
      border-color: antiquewhite;
      border-width: 3px;
  }
.WeatherImage{
    height: 90px;
    width: 90px;
/*
    filter: grayscale(90%);
*/

    animation-name: FadeIn;
    animation-duration: 4s;
    
  animation-timing-function: linear;
    
}
@keyframes FadeIn {
    0%   {opacity: 0%; scale: 0%;}
    25%  {opacity: 25%; scale: 25%;}
    50%  {opacity: 50%;scale: 50%;}
    75% {opacity: 50%; scale: 75%;}
    100% {opacity: 100%; scale:100%;}
  }
.LocationScrollButton{
    display: inline;
    font-size: 40px;
    font-weight: bolder;
    padding: 11px;
    cursor: pointer;
}
#LocationScrollBar{
    align-items: center;
    justify-content: center;
}
#MainBody{
  display: flex;
}



@media only screen and (max-width: 1400px) {
  #MainBody{
    flex-direction: column;
  }
  #MainBody > *{
    width: auto;
  }
}