  #Weather{

    background-color: blanchedalmond;
    height: auto;
    width: 300px;
}

input[type=text] {
      padding: 1px;
      border-color: antiquewhite;
      border-width: 3px;
  }
.WeatherImage{
    height: 90px;
    width: 90px;
    filter: grayscale(90%);
    
}
.LocationScrollButton{
    display: inline;
    font-size: 40px;
    font-weight: bolder;
    padding: 11px;
    cursor: pointer;
}
#LocationScrollBar{
    align-items: center;
    justify-content: center;
}
